<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogspot || New Blog - A New You </title>
    <link rel="stylesheet" href="css/waitlist.css">
    <!-- adding animate css -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  /> 
  <!-- adding bootstarp -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- material ui-->

  <link href=" https://unpkg.com/@mui/material@latest/umd/material-ui.development.js">

</head>
<body>

    <div class="header-items">
        <nav class='navbar navabar-light navbar-fixed-top bg-nav'>
            <div class='container-fluid'>
                <span class='navbar-brand mb-0-h1'>Devgram</span>
            </div> 
        </nav>
        <h1 class='font-extrabold text-3xl text-white-other'>Devgram</h1>

        <p class='opacity-[0.76] mt-5 text-lg sm:text-xl lg:text-2xl para-white '>A simple yet an easy way to conncet with friends<br/>What are you waiting for? join the waitlist today! we'll soon be lauching devgram</p>

        <form action="/submit" method="POST">
            <label for="email" class='invi'>Email: </label>

            <span class="rounded-full h-5 bg-variant-2 text-[#fff] uppercase absolute -top-2 left-4 px-5 text-[0.5rem] font-bold grid place-items-center movement">Email Address</span>

            <input class='ring-variant-2 outline-none text-hullo p-4 bg-fff bg-fg rounded-lg w-full h- rounded ' type="email" id="email" name="email"  />
            
            <button type='submit' action="/submit" class="uppercase inline-block float-right mt-2 p-3 md:block md:h-[4rem] md:m-0 md:p-4 bg-[#fff] text-variant-3 rounded-lg outline-none font-semibold hover:opacity-90" onclick="alert('You have been added to the waitlist!')">Join now</button>
    
        </form>
    </div>

</body>
<!-- Bootstrap navbar animations -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>