body{
    background-color:#5e67ff;
}
.font-extrabold {
    font-weight: 800;
}
.text-3xl {
    font-size: 2rem;
    line-height: 2.25rem;
}

.text-white-other{
    color:white;
    padding-left:5rem;
    padding-top: 5rem;
    
    
}
.para-white{
    color:white;
    padding-left:5rem;
    margin-top:-100px;
}
.header-items{
    background-color:#5e67ff;/*mediumslateblue*/


}.opacity-\[0\.76\] {
    opacity: .76;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.mt-5 {
    margin-top: 1.25rem;
}




.ring-variant-2 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(158,164,255,var(--tw-ring-opacity));
}
.outline-none {
    outline: 2px solid transparent;

    outline-offset: 2px;

}
.text-hullo {
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity));
}
.p-4 {
    padding: 1rem;
}
.bg-fff, .bg-fg {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5
rem
;
}
.w-full {
    margin-top:50px;
    
    width: 500px;
}
.h- {
    height: 10px;
}

.rounded{
    border-radius: 5rem;
}

/* mini span */
.text-\[\#fff\] {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
.text-\[0\.5rem\] {
    font-size: .5rem;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.bg-variant-2 {
    --tw-bg-opacity: 1;
    background-color: rgba(158,164,255,var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.place-items-center {
    place-items: center;
}
.h-5 {
    height: 1.25rem;
}
.grid {
    display: grid;
}
.left-4 {
    left: 1rem;
}
.-top-2 {
    top: -0.5rem
;
}
.absolute {
    position: absolute;
}

.movement{
    margin-top:340px;
    margin-left:50px;
    
}
.invi{
    color:#5e67ff;
}

.outline-none {
    outline: 2
px
 solid transparent;
    outline-offset: 2
px
;
}
.text-variant-3 {
    --tw-text-opacity: 1;
    color: rgba(105,164,252,var(--tw-text-opacity));
}
.uppercase {
    text-transform: uppercase;
}
.font-semibold {
    font-weight: 600;
}
.p-3 {
    padding: 0.75
rem
;
}
.bg-\[\#fff\], .bg-fg {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 1rem;
    margin-bottom:100px;
    padding-left:1.275rem;
}
.inline-block {
    display: inline-block;
}
.mt-2 {
    margin-top: 0.5rem;
}


.bg-nav{
    background-color:transparent;
    border-color:transparent;
}
