.font-extrabold {
    font-weight: 800;
}
.text-3xl {
    font-size: 2rem;
    line-height: 2.25rem;
}

.text-white-other{
    color:white;
    padding-left:5rem;
    padding-top: 5rem;
    
    
}
.para-white{
    color:white;
    padding-left:5rem;
    margin-top:-100px;
}
.header-items{
    background-color:#5e67ff;/*mediumslateblue*/


}.opacity-\[0\.76\] {
    opacity: .76;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.mt-5 {
    margin-top: 1.25rem;
}




.ring-variant-2 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(158,164,255,var(--tw-ring-opacity));
}
.outline-none {
    outline: 2px solid transparent;

    outline-offset: 2px;

}
.text-hullo {
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity));
}
.p-4 {
    padding: 1rem;
}
.bg-fff, .bg-fg {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5
rem
;
}
.w-full {
    width: 200px;
}
.h- {
    height: 10px;
}

.rounded{
    border-radius: 5rem;
}

/* mini span */